---
layout: default
---
<div class="wrapper">
  <h1>You might not need jQuery plugins</h1>
  <h2 class="hidden" id="js_info">The site has moved to its own domain: <a href="http://youmightnotneedjqueryplugins.com">youmightnotneedjqueryplugins.com</a></h2>
  <section id="js_plugins">
    <div class="controls">
      <input class="search" placeholder="I'm looking for ..." list="categories">
      <datalist id="categories">
      {% for category in site.categories %}
        <option value="{{ category | first }}">
      {% endfor %}
      {% for tag in site.tags %}
        <option value="{{ tag | first }}">
      {% endfor %}
      </datalist>
      <div class="select-style">
        <select id="js_select-ie">
          <option value="ie8">IE8 +</option>
          <option value="ie9">IE9 +</option>
          <option value="ie10" selected="selected">IE10 +</option>
        </select>
      </div>
    </div>

    <ul class="list">
      {% for post in site.posts %}
      <li class="list__entry js_plugin" data-ie8="{{ post.ie8 }}" data-ie9="{{ post.ie9 }}" data-ie10="{{ post.ie10 }}">
        <a class="list__entry__link" href="{{ post.link }}" target="_blank">
          <span class="list__entry__name js_plugin-name">{{ post.title}}</span>
          <span class="list__entry__description">{{ post.content | remove: '<p>' | remove: '</p>' }}</span>
          <ul class="list__entry__categories js_plugin-categories">
              <li>Categories:</li>
            {% for category in post.categories %}
              <li>
              {{ category }}
              </li>
            {% endfor %}
          </ul>
          <ul class="list__entry__replaces js_plugin-replaces">
              <li>Replaces:</li>
            {% for plugin in post.tags %}
              <li>
              {{ plugin }}
              </li>
            {% endfor %}
          </ul>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <p>N.B. These plugins are not one-to-one replacements, but offer similiar functionality</p>
  <p><a href="https://github.com/davidyezsetz/you-might-not-need-jquery-plugins" target="_blank">Contribute</a> | <a href="http://youmightnotneedjquery.com/" target="_blank">You might not need jQuery</a></p>
</div>
