<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }} – {{ site.description }}</title>
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="http://youmightnotneedjqueryplugins.com/" />
  </head>
  <body>

    {{ content }}

    <script src="scripts/list.js"></script>
    <script src="scripts/main.js"></script>
    {% include analytics.html %}
  </body>
</html>
